      - uses: actions/cache@v6
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-ci-${{ runner.os }}-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-ci-${{ runner.os }}-
