
[tasks.'release:version:update']
description = "Update the Cargo package and lockfile to the release version"
usage = 'arg "<version>" help="Release version without the v prefix"'
run = 'cargo set-version "{{ usage.version }}"'
