      - uses: actions/cache@v6.1.0
        with:
          path: |
            ~/.cache/go-build
            ~/go/pkg/mod
          key: go-audit-${{ runner.os }}-${{ hashFiles('go.sum') }}
          restore-keys: |
            go-audit-${{ runner.os }}-
