<% set docs_ignored_paths = slot("docs_ignored_paths", optional=true) %><% if docs_ignored_paths %><$ docs_ignored_paths | trim $>

<% endif %>/target/
/dist/
/coverage/
<% set coverage_ignored_paths = slot("coverage_ignored_paths", optional=true) %><% if coverage_ignored_paths %><$ coverage_ignored_paths | trim $>
<% endif %>
.codex
.claude

.env
.env.local

mise.local.toml
